body{
	text-align: center;
	align: center;
	/*text-transform: uppercase;*/
	font-family: "Arial", Trebuchet MS, Helvetica, sans-serif;
	font-size: 5;
}

a
{
	display: block;
	width: 250px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 15px;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	border-radius: 15px;
	background-color: #29405e;
}

a:link
{
color: white;
}

a:visited
{
color: white;
}

a:hover
{
color: yellow;
}

a:active
{
color: white;
}

myDiv{
text-align: center;
align: center;
}

select {
	width: 30%;
  	padding: 16px 20px;
  	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
}
input[type=submit] {
	background-color: #4CAF50; /* Green */
	border: none;
	border-radius: 12px;
	color: white;
	padding: 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
input[type=button] {
	background-color: #4CAF50; /* Green */
	border: none;
	border-radius: 12px;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.wrapper {
	padding: 10px;
	border-radius: 12px;
	border: 5px solid gray;
	margin: 0;
}
